# ==========================
# Java
# ==========================
*.class
*.jar
*.war

# ==========================
# Maven
# ==========================
target/

# ==========================
# NetBeans
# ==========================
nbproject/private/
build/
dist/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# SQL Server Backup
# ==========================
*.bak

# ==========================
# Windows
# ==========================
Thumbs.db
Desktop.ini

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# IDE
# ==========================
.idea/
.vscode/

# ==========================
# Temporary
# ==========================
*.tmp